.about-container {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media (max-width: $tablet-lg) {
        padding: 0 1rem;
        gap: 1.5rem;
    }

    h2 {
        color: #01cbb7;
        font-size: 2rem;
        margin: 1rem 0;
        line-height: 1.1;
        text-align: center;
        @media (max-width: $tablet-lg) {
            font-size: 1.5rem;
        }
    }

    .box {
        display: flex;
        flex-direction: column;

        img {
            z-index: 1;
            width: 50%;
            max-width: 400px;
        }

        .text-box {
            z-index: 0;
            background-color: #0d1c38;
            border-radius: 0.5rem;
            padding: 3rem;
            margin-top: -5%;
            width: 80%;
            @media (max-width: $tablet-lg) {
                width: 100%;
                padding: 1.5rem;
            }
            h3 {
                font-size: 3rem;
                font-weight: 600;
                margin: 1.5rem 0;
                p {
                    margin: 1.5rem 0;
                    font-size: 1.25rem;
                    font-family: "circularA", sans-serif;
                }
            }
        }

        &.list-1 {
            align-items: flex-end;
            justify-content: flex-start;
            h3 {
                color: #ae90ff;
            }
        }
        &.list-2 {
            text-align: right;
            @media (max-width: $tablet-lg) {
                text-align: left;
            }
            img {
                max-width: 300px;
                margin-bottom: -15%;
            }
            h3 {
                color: #f4d97b;
            }
            p {
                text-align: left;
                max-width: 70%;
                float: right;
                @media (max-width: $tablet-lg) {
                    max-width: 100%;
                }
            }
        }
        &.list-3 {
            align-items: flex-end;
            justify-content: flex-start;
            h3 {
                color: #01cbb7;
            }
        }
    }
}
