.card-wrapper {
    padding: 1.5rem 0;
    margin: 2.5rem 0;

    h2 {
        color: #fff;
        font-size: 1.875rem;
        font-weight: 700;
        text-align: left;
        text-transform: capitalize;
        @media (max-width: $tablet) {
            font-size: 2rem;
            line-height: 1.5;
        }
    }
    .line {
        height: 1px;
        background-color: rgba(232, 238, 250, 0.4);
        margin: 2rem 0;
    }
}

.card {
    max-width: 37.5rem;
    padding: 0.75rem;
    height: auto;
    flex-shrink: 0;
    background-color: transparent;
    margin-right: 1rem;
    border-radius: 0.5rem;

    @media (max-width: $tablet) {
        width: 22.5rem;
        margin-right: 0.25rem;
        &.mobile,
        &.tablet {
            width: 12.5rem;
        }
    }

    &.mobile img {
        aspect-ratio: 9/19;
        border-radius: 40px;
        object-fit: contain;
        @media (max-width: $tablet) {
            object-fit: cover;
            height: 400px;
        }
    }
    &.tablet img {
        aspect-ratio: 3/4;
        border-radius: 20px;
        @media (max-width: $tablet) {
            object-fit: cover;
            height: 400px;
        }
    }
    &:hover img {
        transform: scale(1.03);
    }

    img {
        aspect-ratio: 16/9;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
        transition: transform 0.3s ease;
        width: 100%;
        border-radius: 0.5rem;
        @media (max-width: $tablet) {
            height: auto;
        }
    }

    .card-text {
        padding-top: 0.75rem;
        text-align: left;
        p {
            text-transform: capitalize;
            font-size: 1.125rem;
            color: #fff;
            font-weight: 600;
        }
    }
}
