@import "../styles/_variable.scss";
/**home*/
main.home {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.name-container {
    position: relative;
    height: 100vh;
    width: 100%;

    img.name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition:
            top $transition-duration ease,
            left $transition-duration ease,
            opacity $transition-duration ease,
            transform $transition-duration ease;

        &.scrolled {
            top: 1%;
            left: 1%;
            opacity: 0;
            transform: scale(0.5) translate(-50%, -50%);
            -webkit-transform: scale(0.5) translate(-50%, -50%);
            -moz-transform: scale(0.5) translate(-50%, -50%);
            -ms-transform: scale(0.5) translate(-50%, -50%);
            -o-transform: scale(0.5) translate(-50%, -50%);
        }
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.25rem;
        letter-spacing: 20px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        transition: opacity $transition-duration ease-in-out;
        opacity: 1;
        &.title-scrolled {
            animation: titleOpacity 1.5s ease-in-out forwards;
        }
    }
    @keyframes titleOpacity {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 0;
        }
    }
}

ul.my-field {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0.875rem;
    transition: font-size 0.3s ease;
    transition:
        top $transition-duration ease,
        transform $transition-duration ease;
    &.text-scrolled {
        position: fixed;
        top: 10%;
        font-size: 3rem;
        transform: translate(-50%, -50%);
        animation: fontSize 3s ease-in-out;
    }
    @keyframes fontSize {
        0% {
            font-size: 0.875rem;
        }
        50% {
            font-size: 2rem;
        }
        100% {
            font-size: 3rem;
        }
    }

    li {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.4vw;
    }
}

.work {
    height: 500px;

    .card {
        width: 250px;
        height: 150px;
        margin: 0 10px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .section {
        padding: 50px;
    }
}

.back-button-container {
    position: absolute;
    top: 10vh;
    left: 1rem;

    cursor: pointer;
    margin: 1rem 3rem;
    @media (max-width: $tablet) {
        margin: 1rem 0.25rem;
    }
    svg {
        color: white;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }
}
