@import "../styles/_variable.scss";

.nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    z-index: 99;
    opacity: 1;
    transition: transform $transition-duration ease-in-out;
    background:  #05112A;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

    @media (max-width: $tablet) {
        padding: 0.85rem ;
        height: 60px;
    }
}

.logo {
    flex: 1;
    display: flex;
    align-items: baseline;

    h1 {
        font-size: 3.125rem;
        font-weight: 900;
        letter-spacing: -0.035em;
        line-height: 1em;
    }

    .icon-j {
        fill: rgb(255, 158, 188);
    }
    // .circle-svg {
    //     width: 10px;
    //     height: 10px;
    //     margin: 0 5px;
    // }
    svg {
        vertical-align: middle;
        width: auto;
        height: 1.875rem;
    }
}

/* 메뉴 스타일 */
.navigation {
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-direction: row;
        li {
            font-family: "circularA", sans-serif;
            margin: 0 1rem;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
}

/* 햄버거 메뉴 */
.hamburger-menu {
    display: none;
    top: 60px;
    background-color: #05112a;
    padding: 1rem 0;

    a {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1rem 1rem 1rem 2.5rem;
        text-transform: capitalize;
    }
}

.bm-burger-button {
    display: none;
    position: fixed;
    width: 2.25rem;
    height: 2.25rem;
    right: 1rem;
    top: 10px;
}

@media (max-width: $tablet) {
    .navigation ul {
        display: none;
    }

    .hamburger-menu,
    .bm-burger-button {
        display: block;
    }
}
