@import "../styles/_variable.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    @media (max-width: $tablet) {
        padding: 0.85rem 1em;
    }

    .logo {
        flex: 1;
        display: flex;
        align-items: baseline;
        .icon-j {
            fill: rgb(255, 158, 188);
        }
        .circle-svg {
            width: 10px;
            height: 10px;
            margin: 0 5px;
        }
        svg {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: 1.75rem;
            margin: 0 2px;
        }
    }

    .nav {
        flex: 2;
        display: flex;
        justify-content: flex-end;

        .menu {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            .menu-item {
                margin-right: 1.25rem;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.25rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 0 1.125rem;
                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }
}
