main.page {
    padding: 2rem 0;

    h1.page-title {
        color: #fff;
        font-size: 3.5rem;
        line-height: 1.1;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $tablet-lg) {
            font-size: 2.5rem;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    @media (max-width: $tablet-lg) {
        padding: 0 0.875rem;
    }
}

.portfolio-container {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: $tablet-lg) {
        padding: 0 1rem;
    }
}

