.portfolio-container {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: $tablet) {
        padding: 0 1rem;
    }

    h1.page-title {
        margin-top: 12vh;
        font-family: "circularA", sans-serif;
        color: #fff;
        font-size: 5rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
}
