main.page {
    padding: 2rem 0;

    h1.page-title {
        color: #fff;
        font-size: 3.5rem;
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $tablet-lg) {
            font-size: 2.5rem;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    @media (max-width: $tablet-lg) {
        padding: 0 0.875rem;
    }
}

.portfolio-container {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.card-wrapper {
    padding: 1.5rem 0;
    margin: 2.5rem 0;

    h2 {
        color: #01cbb7;
        font-size: 1.875rem;
        font-weight: 600;
        text-align: left;
        text-transform: capitalize;
        @media (max-width: $tablet-lg) {
            font-size: 2rem;
            line-height: 1.5;
        }
    }
    .line {
        height: 1px;
        background-color: rgba(232, 238, 250, 0.4);
        margin: 2rem 0;
    }
}

.react-horizontal-scrolling-menu--scroll-container {
    &::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(37, 52, 84, 0.8);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}
