@charset "UTF-8";
/* Define breakpoints as variables */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Basic */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #05112a;
}
body.is-preload {
  overflow: hidden;
}
body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15pt;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}

a {
  transition: border-color 0.2s ease-in-out;
  color: inherit;
  outline: 0;
  text-decoration: none;
}
a:hover {
  border-color: transparent;
}

/* Icon */
.icon {
  text-decoration: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.icon > .label {
  display: none;
}
.icon.solid:before {
  font-weight: 900;
}
.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Wrapper */
@keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#wrapper {
  animation: wrapper 3s forwards;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* BG */
#bg {
  animation: bg 60s linear infinite;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  /* Set your background with this */
  background: #05112a url("/src//img/bg/snow-mt1.png") bottom left;
  background-repeat: repeat-x;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
}
@keyframes bg {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-2400px,0,0);
  }
}
#bg {
  background-size: 2400px auto;
  width: 7200px;
}

/* Overlay */
@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#overlay {
  animation: overlay 1.5s 1.5s forwards;
  background-attachment: fixed, fixed;
  background-image: url("/src/img/bg/overlay-pattern.png"), url("/src/img/bg/overlay.svg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Main */
#main {
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
#main:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 0;
  vertical-align: middle;
  width: 1px;
}

/* main */
@keyframes header {
  0% {
    transform: translate3d(0,1em,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes nav-icons {
  0% {
    transform: translate3d(0,1em,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
#main-header {
  animation: header 1s 2.25s forwards;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: center;
  top: -1em;
  vertical-align: middle;
  width: 90%;
}
#main-header h1 {
  font-size: 4.35em;
  font-weight: 900;
  letter-spacing: -0.035em;
  line-height: 1em;
}
#main-header p {
  font-size: 1.25em;
  margin: 0.75em 0 0.25em 0;
  opacity: 0.75;
  font-family: "circularA", sans-serif;
}
#main-header .main-menu {
  margin: 1.5em 0 0 0;
}
#main-header .main-menu li.list {
  animation: nav-icons 0.5s ease-in-out forwards;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.35em;
  line-height: 5.885em;
  opacity: 0;
  position: relative;
  top: 0;
  width: 5.35em;
}
#main-header .main-menu li.list svg {
  width: 2.675em;
  height: 2.675em;
}
#main-header .main-menu li.list:nth-child(1) {
  animation-delay: 2.5s;
}
#main-header .main-menu li.list:nth-child(2) {
  animation-delay: 2.75s;
}
#main-header .main-menu li.list:nth-child(3) {
  animation-delay: 3s;
}
#main-header .main-menu li.list:nth-child(4) {
  animation-delay: 3.25s;
}
#main-header .main-menu li.list:nth-child(5) {
  animation-delay: 3.5s;
}
#main-header .main-menu li.list:nth-child(6) {
  animation-delay: 3.75s;
}
#main-header .main-menu li.list:nth-child(7) {
  animation-delay: 4s;
}
#main-header .main-menu li.list:nth-child(8) {
  animation-delay: 4.25s;
}
#main-header .main-menu li.list:nth-child(9) {
  animation-delay: 4.5s;
}
#main-header .main-menu li.list:nth-child(10) {
  animation-delay: 4.75s;
}
#main-header .main-menu a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  border: 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 1rem;
  box-sizing: border-box;
}
#main-header .main-menu a:before {
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px #fff;
  display: block;
  font-size: 1.75em;
  position: relative;
  text-align: center;
  top: 0;
}
#main-header .main-menu a:hover {
  background-color: aliceblue;
  color: #111;
}
#main-header .main-menu a:active {
  font-size: 0.95em;
  background: none;
}
#main-header .main-menu a:active:before {
  background-color: rgba(255, 255, 255, 0.35);
  color: #fff;
}
#main-header .main-menu a span {
  display: none;
}

/* Wide */
@media screen and (max-width: 1680px) {
  /* Basic */
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
  /* BG */
  @keyframes bg {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(-1600px,0,0);
    }
  }
  #bg {
    background-size: 1600px auto;
    width: 4800px;
  }
}
/* Normal */
@media screen and (max-width: 1280px) {
  /* Basic */
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
  /* BG */
  @keyframes bg {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(-800px,0,0);
    }
  }
  #bg {
    background-size: 800px auto;
    width: 2400px;
  }
}
/* Mobile */
@media screen and (max-width: 736px) {
  /* Basic */
  body {
    min-width: 320px;
  }
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
  /* BG */
  @keyframes bg {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(-320px,0,0);
    }
  }
  #bg {
    background-size: 320px auto;
    width: 960px;
  }
  /* Header */
  #main-header h1 {
    font-size: 2.5em;
  }
  #main-header p {
    font-size: 1em;
  }
  #main-header .main-menu {
    font-size: 1em;
  }
  #main-header .main-menu a:hover {
    font-size: 1em;
  }
  #main-header .main-menu a:active {
    font-size: 1em;
  }
}
/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
  /* BG */
  @keyframes bg {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(-440px,0,0);
    }
  }
  #bg {
    background-size: 440px auto;
    width: 1320px;
  }
  /* Header */
  #main-header .main-menu {
    padding: 0 1em;
  }
}
/* Define breakpoints as variables */
.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  z-index: 99;
  opacity: 1;
  transition: transform 3s ease-in-out;
  background-color: #05112a;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1024px) {
  .nav-wrapper {
    padding: 0.85rem;
    height: 60px;
  }
}

.logo {
  flex: 1;
  display: flex;
  align-items: baseline;
}
.logo img {
  vertical-align: middle;
  width: auto;
  height: 2.5rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-direction: row;
}
.navigation ul li {
  font-family: "circularA", sans-serif;
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.hamburger-menu {
  display: none;
  top: 60px;
  background-color: #05112a;
  padding: 1rem 0;
}
.hamburger-menu a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 1rem 1rem 2.5rem;
  text-transform: capitalize;
}

.bm-burger-button {
  display: none;
  position: fixed;
  width: 2.25rem;
  height: 2.25rem;
  right: 1rem;
  top: 10px;
}

@media (max-width: 1024px) {
  .navigation ul {
    display: none;
  }
  .hamburger-menu,
  .bm-burger-button {
    display: block;
  }
}
main.page {
  padding: 2rem 0;
}
main.page h1.page-title {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  main.page h1.page-title {
    font-size: 2.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
@media (max-width: 1024px) {
  .row {
    padding: 0 0.875rem;
  }
}

.portfolio-container {
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.card-wrapper {
  padding: 1.5rem 0;
  margin: 2.5rem 0;
}
.card-wrapper h2 {
  color: #01cbb7;
  font-size: 1.875rem;
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .card-wrapper h2 {
    font-size: 2rem;
    line-height: 1.5;
  }
}
.card-wrapper .line {
  height: 1px;
  background-color: rgba(232, 238, 250, 0.4);
  margin: 2rem 0;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  background-color: transparent;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background: transparent;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background: rgba(37, 52, 84, 0.8);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.bg-wrapper {
  padding-top: 2rem;
  background: linear-gradient(to top, #000000, #0a0a17, #121225, #13142b);
}

.video-background {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.video-background.mobile, .video-background.tablet {
  overflow: visible;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner img {
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
video {
  position: absolute;
  height: inherit;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  video {
    top: 0;
    left: 0;
    height: initial;
    transform: none;
  }
}
video.tablet {
  max-width: 25rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 60px;
}
@media (max-width: 1024px) {
  video.tablet {
    max-width: 22rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  video.tablet {
    max-width: 17rem;
  }
}
video.mobile {
  max-width: 18.5rem;
  height: auto;
  border-radius: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1024px) {
  video.mobile {
    max-width: 15rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  video.mobile {
    max-width: 12rem;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  pointer-events: none;
}
.video-overlay.mobile, .video-overlay.tablet {
  display: none;
}

.bottom-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: -20vh;
  z-index: 2;
}
@media (max-width: 1024px) {
  .bottom-wrapper.mobile, .bottom-wrapper.tablet {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .bottom-wrapper.mobile, .bottom-wrapper.tablet {
    margin-top: -5vh;
  }
}
.bottom-wrapper .text-container {
  width: 100%;
  color: #fff;
  text-align: left;
  padding: 0 2.5rem;
}
@media (max-width: 1024px) {
  .bottom-wrapper .text-container {
    padding: 0 1.5rem;
  }
}
.bottom-wrapper .text-container h1.title {
  color: #01cbb7;
  font-family: "circularA", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .bottom-wrapper .text-container h1.title {
    font-size: 2rem;
  }
}
.bottom-wrapper .text-container .subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 480px) {
  .bottom-wrapper .text-container .subtitle {
    font-size: 1.5rem;
    flex-direction: column;
  }
}
.bottom-wrapper .text-container p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 1rem 0;
  color: #989ba3;
}
.bottom-wrapper .screenshot-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 5rem 0;
  padding: 0 1rem;
}
.bottom-wrapper .screenshot-container img {
  width: 22.5%;
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .bottom-wrapper .screenshot-container img {
    width: 30%;
  }
}
@media (max-width: 480px) {
  .bottom-wrapper .screenshot-container img {
    width: 45%;
  }
}
.bottom-wrapper .screenshot-container img:hover {
  transform: scale(1.05);
}
.bottom-wrapper .screenshot-container img.tablet {
  max-width: 15rem;
  aspect-ratio: 3/4;
}
.bottom-wrapper .screenshot-container img.mobile {
  max-width: 15rem;
  aspect-ratio: 9/19;
}

.code {
  width: 100%;
  padding: 1rem;
}

/* modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  background: #000000;
  border-radius: 8px;
  padding: 3rem 1rem 1rem 1rem;
  overflow: auto;
  max-width: 90%;
  max-width: 1440px;
  max-height: 90%;
}
.modal-content img {
  border-radius: 8px;
  max-width: 100%;
}
.modal-content.mobile img, .modal-content.tablet img {
  border-radius: 32px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.close-button svg {
  width: 100%;
  height: 100%;
  color: #fff;
}

.card-wrapper {
  padding: 1.5rem 0;
  margin: 2.5rem 0;
}
.card-wrapper h2 {
  color: #01cbb7;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .card-wrapper h2 {
    font-size: 2rem;
    line-height: 1.5;
  }
}
.card-wrapper .line {
  height: 1px;
  background-color: rgba(232, 238, 250, 0.4);
  margin: 2rem 0;
}

.card {
  width: 40rem;
  padding: 0.75rem;
  background-color: transparent;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
.card.mobile {
  width: 18.75rem;
}
.card.tablet {
  width: 22.5rem;
}
@media (max-width: 1024px) {
  .card {
    width: 22.5rem;
    margin-right: 0.25rem;
  }
  .card.mobile {
    width: 12.5rem;
  }
}
.card.mobile img {
  aspect-ratio: 9/19;
  border-radius: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1024px) {
  .card.mobile img {
    height: 400px;
  }
}
.card.tablet img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 70px;
}
@media (max-width: 1024px) {
  .card.tablet img {
    height: 400px;
  }
}
.card:hover img {
  transform: scale(1.03);
}
.card img {
  aspect-ratio: 16/9;
  height: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 100%;
  border-radius: 0.5rem;
}
@media (max-width: 1024px) {
  .card img {
    height: auto;
  }
}
.card .card-text {
  padding-top: 0.75rem;
  text-align: center;
}
.card .card-text p {
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}

.back-button-container {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 480px) {
  .back-button-container {
    width: 2rem;
    height: 2rem;
  }
}
.back-button-container svg {
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-button {
  border-radius: 40px;
  padding: 0.5rem 2rem;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}

.about-container {
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1024px) {
  .about-container {
    padding: 0 1rem;
    gap: 1.5rem;
  }
}
.about-container h2 {
  color: #01cbb7;
  font-size: 2rem;
  margin: 1rem 0;
  line-height: 1.1;
  text-align: center;
}
@media (max-width: 1024px) {
  .about-container h2 {
    font-size: 1.5rem;
  }
}
.about-container .box {
  display: flex;
  flex-direction: column;
}
.about-container .box img {
  z-index: 1;
  width: 50%;
  max-width: 400px;
}
.about-container .box .text-box {
  z-index: 0;
  background-color: #0d1c38;
  border-radius: 0.5rem;
  padding: 3rem;
  margin-top: -5%;
  width: 80%;
}
@media (max-width: 1024px) {
  .about-container .box .text-box {
    width: 100%;
    padding: 1.5rem;
  }
}
.about-container .box .text-box h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.about-container .box .text-box h3 p {
  margin: 1.5rem 0;
  font-size: 1.25rem;
  font-family: "circularA", sans-serif;
}
.about-container .box.list-1 {
  align-items: flex-end;
  justify-content: flex-start;
}
.about-container .box.list-1 h3 {
  color: #ae90ff;
}
.about-container .box.list-2 {
  text-align: right;
}
@media (max-width: 1024px) {
  .about-container .box.list-2 {
    text-align: left;
  }
}
.about-container .box.list-2 img {
  max-width: 300px;
  margin-bottom: -15%;
}
.about-container .box.list-2 h3 {
  color: #f4d97b;
}
.about-container .box.list-2 p {
  text-align: left;
  max-width: 70%;
  float: right;
}
@media (max-width: 1024px) {
  .about-container .box.list-2 p {
    max-width: 100%;
  }
}
.about-container .box.list-3 {
  align-items: flex-end;
  justify-content: flex-start;
}
.about-container .box.list-3 h3 {
  color: #01cbb7;
}

.banner-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  min-height: 400px;
  padding: 3rem;
  background-color: #0d1c38;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  /* SVG 2 - 오른쪽 정렬 후 왼쪽으로 살짝 이동 */
}
.banner-container .banner-text {
  z-index: 2;
  vertical-align: middle;
  text-align: left;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media (max-width: 768px) {
  .banner-container .banner-text {
    width: 100%;
  }
}
.banner-container .banner-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .banner-container .banner-text h1 {
    color: #fff !important;
  }
}
.banner-container .banner-text .subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 1.25rem 0;
}
.banner-container .banner-text p {
  color: #989ba3;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .banner-container .banner-text p {
    color: #0d1c38;
  }
}
.banner-container .banner-images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
@media (max-width: 768px) {
  .banner-container .banner-images {
    width: 0%;
  }
}
.banner-container .svg1,
.banner-container .svg2,
.banner-container .svg3 {
  position: absolute;
  z-index: 1;
  opacity: 0.9; /* 자연스럽게 보이도록 */
}
.banner-container .svg1 {
  bottom: 40%;
  left: 50%;
  transform: rotate(10deg);
}
.banner-container .svg2 {
  right: -20%;
}
.banner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}/*# sourceMappingURL=styles.css.map */